### load dependencies and files

In [1]:
#add Matplotlib inline magic command
%matplotlib inline
#Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#files to load
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

In [3]:
#read the city data file and store it in a pandas
city_data_df = pd.read_csv(city_data_to_load)
city_data_df.head(10)

            city  driver_count   type
0    Richardfort            38  Urban
1   Williamsstad            59  Urban
2    Port Angela            67  Urban
3     Rodneyfort            34  Urban
4    West Robert            39  Urban
5   West Anthony            70  Urban
6    West Angela            48  Urban
7  Martinezhaven            25  Urban
8      Karenberg            22  Urban
9    Barajasview            26  Urban

In [4]:
#read the ride data file and store it in pandas
ride_data_df = pd.read_csv(ride_data_to_load)
ride_data_df.head(10)

                 city             date   fare        ride_id
0  Lake Jonathanshire  1/14/2019 10:14  13.83  5739410935873
1  South Michelleport   3/4/2019 18:24  30.24  2343912425577
2  Port Samanthamouth   2/24/2019 4:29  33.44  2005065760003
3          Rodneyfort  2/10/2019 23:22  23.44  5149245426178
4          South Jack    3/6/2019 4:28  34.58  3908451377344
5        South Latoya  3/11/2019 12:26   9.52  1994999424437
6       New Paulville  2/27/2019 11:17  43.25   793208410091
7        Simpsonburgh   4/26/2019 0:43  35.98   111953927754
8     South Karenland    1/8/2019 3:28  35.09  7995623208694
9       North Jasmine    3/9/2019 6:26  42.81  5327642267789

### Inspect the City Data DataFrame
For the city_data_df DataFrame, we need to:

- Get all the rows that contain null values.

- Make sure the driver_count column has an integer data type.

- Find out how many data points there are for each type of city.

In [5]:
#get the columns and rows that are not null.
city_data_df.count()

city            120
driver_count    120
type            120
dtype: int64

In [6]:
#get the columns and the rows that are not null.
city_data_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [7]:
# get the data type for each column.
city_data_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [8]:
#get the unique values of the type of city.
city_data_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [9]:
#get teh number of data points from teh Urban cities
sum(city_data_df["type"]=="Urban")
sum(city_data_df["type"]=="Rural")

18

In [10]:
#get teh number of data points from teh Suburban cities
sum(city_data_df["type"]=="Suburban")

36

In [11]:
#get teh number of data points from teh Rural cities
sum(city_data_df["type"]=="Rural")

18

### Inspect Ride Data DataFrame
For the ride_data_df DataFrame, we need to:

- Get all the rows that contain null values.

- Make sure the fare and ride_id columns are numerical data types.

In [12]:
# Get the columns and the rows that are not null.
ride_data_df.count()

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

In [13]:
#Get teh columns and the rows that are not null.
ride_data_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [14]:
# Get the data types of each column.
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

### Merge the DataFrames

In [17]:
#Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])
#display the DataFrame
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,1/14/2019 10:14,13.83,5739410935873,5,Urban
1,South Michelleport,3/4/2019 18:24,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2/24/2019 4:29,33.44,2005065760003,57,Urban
3,Rodneyfort,2/10/2019 23:22,23.44,5149245426178,34,Urban
4,South Jack,3/6/2019 4:28,34.58,3908451377344,46,Urban